server:
  port: 8083

spring:
  application:
    name: leaderboard-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/gaming_users
    username: postgres
    password: luke2001
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/myrealm
          jwk-set-uri: http://localhost:8080/realms/myrealm/protocol/openid-connect/certs

logging:
  level:
    com.gaming.leaderboard: DEBUG
    org.springframework.security: DEBUG
